    $clr-primary1:#0b2e43;
    $clr-primary: #134869;
    $clr-primary-1: #1b6898;
    $clr-dark: #191414;
    $clr-white: #ffffff;
    $clr-gray: #E6F4E9;
    $clr-gray-light: #E6F4E9;
    $clr-card: #e9e6f4;
    $clr-bg: rgb(33, 33, 33);
    $clr-bg-light: #a8d7f8;
    $clr-txt: #ffffff;
    $clr-txt-g: rgb(77, 196, 91);
    $clr-b: rgb(63, 81, 181);
    $clr-err: #eb9595;
    $clr-red: #ee2b2b;